@model Nettlesnook.Models.AccountViewModels.AccountDashboardData

@{
    ViewData["Title"] = "Nettlesnook | User Dashboard";
    ViewData["Description"] = "User dashboard for Nettlesnook Farm.";
}

<main class="content">
    <h2>Dashboard</h2>
    <form asp-area="" asp-controller="Account" asp-action="Logout">
        <button type="submit" class="btn btn-default">Log out!</button>
    </form>
    <hr />

    <h3>Messages</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Message
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Messages)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <span max-lenght="50">@Html.DisplayFor(modelItem => item.Email)</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Body)
                    </td>
                    <td>
                        <a asp-controller="Messages" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-controller="Messages" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />

    <h3>Blog</h3>
    <p>
        <a asp-controller="Blogs" asp-action="Create">Create New Blog Entry</a> <a asp-controller="Blogs" asp-action="UploadImages">Upload New Images</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Posted
                </th>
                <th>
                    Title
                </th>
                <th>
                    Archived
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Blog)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Archive)
                    </td>
                    <td>
                        <a asp-controller="Blogs" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-controller="Blogs" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-controller="Blogs" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>